.ndt-table {
	width: 100%;
	
	th {
		.ndt-title {
			float: left;
			margin-right: 4px;
		}
		
		.ndt-sortarrow {
			display: block;
			float: left;
			padding-top: 4px;
		}

		.arrow {
			float: left;
			@borderColor: #007bff;
			@borderColorActive: #333;
			width: 0px;
			height: 0px;
			border-style: solid;
			opacity: 0.2;
			filter:Alpha(opacity=20);
			
			&:hover {
				opacity: 1;
				filter:Alpha(opacity=100);
			}

			&.active {
				opacity: 0.8;
				filter:Alpha(opacity=80);
			}

			&.ndt-arrow-asc {
				border-width: 0 6px 10.4px 6px;
				border-color: transparent transparent @borderColor transparent;

				&.active {
					border-color: transparent transparent @borderColorActive transparent;
				}
			}

			&.ndt-arrow-desc {
				border-width: 10.4px 6px 0 6px;
				border-color: @borderColor transparent transparent transparent;

				&.active {
					border-color: @borderColorActive transparent transparent transparent;
				}
			}
		}
	}
	
	.ndt-actions {
		ul {
			display: block;
			float: right;
			list-style: none;
			margin: 0;
			padding: 0;

			& > li {
				display: block;
				float: left;
				margin-right: 8px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}

footer.ndt-pagination {
	display: block;
	float: left;
	width: 100%;
	margin-top: 8px;
	font-size: 0.9em;
	line-height: 1.5em;

	& > ul {
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			display: block;
			float: left;
			margin-right: 8px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}
}